<div data-widget="in_form">
    <div class="widget">
        <input data-var="tarefa" type="text" placeholder="Tarefa"/>
        <button data-var="send">Adicionar</button>
    </div>
</div>

<div data-widget="in_div">
    <div class="widget">
        <div data-type="obj">
            <input type="checkbox" data-var="concluida"/>
            <div data-var="tarefa"></div>
        </div>
    </div>
</div>

<div data-widget="in_sum">
    <div class="widget">
        
    </div>
</div>

<div data-widget="in_table">
    <div class="widget">
        
    </div>
</div>

<style>
    .widget{
        border: 1px solid red;
        width: 50%;
        min-height: 150px;
        float: left;
        margin: 2px;
    }
    .w4{
        top: 0; right: 0;
        width: 40%;
        position: absolute;
    }
</style>