<div data-widget="acc01">
    <div class="widget">
        <div data-type="obj">
            <div data-var="acc"></div>
            <div data-var="name"></div>
            <div data-var="amount"></div>
        </div>
    </div>
</div>

<div data-widget="acc02">
    <div class="widget">
        <div data-var="sum"></div>
    </div>
</div>

<div data-widget="acc03">
    <div class="widget">
        <div data-type="obj">
            <div data-var="acc"></div>
            <div data-var="name"></div>
            <div data-var="amount"></div>
        </div>
    </div>
</div>

<style>
    .widget{
        border: 1px solid red;
        width: 30%;
        min-height: 150px;
        float: left;
        margin: 2px;
    }
</style>