<div data-widget="acc01">
    <div class="widget">
        <button data-var="clickme">Adicionar</button>
        <button data-var="clear">Clear</button>
        <div data-var="res"></div>
    </div>
</div>

<div data-widget="acc02">
    <div class="widget">
        <button data-var="clickme">Banana</button>
        <button data-var="clear">Clear</button>
        <div data-var="res"></div>
    </div>
</div>

<div data-widget="acc03">
    <div class="widget">
        Last Click
        <div data-var="res"></div>
    </div>
</div>

<div data-widget="acc04">
        Counter
        <div data-var="content"></div>
</div>

<style>
    .widget{
        border: 1px solid red;
        width: 50%;
        min-height: 150px;
        float: left;
        margin: 2px;
    }
    .w4{
        top: 0; right: 0;
        width: 40%;
        position: absolute;
    }
</style>